body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

#map {
  margin-top: 1vh;
  width: 100%;
  height: 90vh;
}

.coordinate {
  position: absolute;
  bottom: 10px;
  right: 50%;
}

.leaflet-popup-content-wrapper {
  background-color: #000000;
  color: #fff;
  border: 1px solid rgb(0, 100, 58);
  border-radius: 0px;
}
#container_filter {
  text-align: center;
  justify-content: center;
}

#datepicker > span:hover {
  cursor: pointer;
}

#img_calendario {
  width: 40px;
  height: 40px;
}
#logout {
  float: right;
  margin-left: 70%;
}

#login_box {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#dashboard {
  color: #4caf50;
}

.form-check {
  background: white;
  padding: 5%;
  opacity: 0.85;
}
