{% extends 'base.html' %}
{% load static %}
{% block title %}Login | Admin{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg fixed-top  navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">User: {{ user.username|default:'Visitor' }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'index' %}">Homepage</a>

            </div>
        </div>
    </div>
</nav>
<h1 class="text-center display-4" id="dashboard">Dashboard Login</h1>

<div class="jumbotron jumbotron-fluid boxjumbo">
    <div class="container" id="login_box">
        <div class="panel panel-primary center">
            <!--<div class="panel-heading">Login</div>-->
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->

                    <div class="form-group">
                        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" name="username" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passwordi-input" name="password" placeholder="Password">
                    </div>
                    <!--The {% csrf_token %} line inserts a cross-site request forgery
                    (CSRF) token, which is required by every Django form. 
                    There’s also a button for submitting the form and, at
                    the end of the template, a link that will take your users
                    back to the dashboard.-->
                    <input type="submit" class="btn btn-secondary" value="Login">
                </form>
            </div>
            </div>
    </div>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert" id="error-login">
            Error: Restricted Area. 
        </div>
    {% endif %}
</div>





<script>
    var sfondo_login= "{% static '/bike_app/images/login.png' %}";
    $('.boxjumbo').css('background-image', 'url(' + sfondo_login + ')');

</script>



{% endblock %}