{% extends "admin/base.html" %}
{% block content %}
<div>
    <form action="." method="POST" enctype="multipart/form-data"> 
        {{ form.as_p }}
        {{ geofence_type.as_p}}
        {% csrf_token %}
        <button type="submit">Load data</button>
    </form>
</div>
{% endblock %}