{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
{% if user.is_admin  %}
<script>
  //gestione icone di leaflet
  var icona_bicicletta= "{% static '/bike_app/images/bike-img.png' %}";
  var icona_posizione= "{% static '/bike_app/images/green_marker.png' %}";
  var icona_partenza= "{% static '/bike_app/images/start.png' %}";
</script>

<script>
  var jsonObject_biciclette = JSON.parse('{{ biciclette_json | escapejs }}');
  var json_clusters = JSON.parse('{{ json_cluster_objects | escapejs }}');
  var jsonObject_rastrelliere = JSON.parse('{{ json_data_result_rastrelliere | escapejs }}');
  var json_ingressi_results = JSON.parse('{{ json_ingressi_results | escapejs }}');
  var jsonObject_single_pos = JSON.parse('{{ single_pos_bike | escapejs }}');
</script>

<nav class="navbar navbar-expand-lg fixed-top  navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">User: {{ user.username|default:'Visitor' }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#home">Home</a>
        <a class="nav-item nav-link" href="#mappa">Map</a>
        <a class="nav-item nav-link"href="#autori">Authors</a>
      </div>
      <a id="logout" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>

<div class="container-fluid" id="user_controls">
  <div class="row">
    <div id = "single_bike_controls" class="col-sm-12 col-md-6">
      <h5 class="text-center col-12">Search a bike's route. Use date to filter the results.</h5>
      <form>
        <div class="form-row">
          <div class="form-group col-sm col-md-6">
            <select class="form-control col-sm" id="FormControlSelect1" >
              <option disabled selected>Choose bike ID</option>
            </select>
          </div>
          <div class="form-group col-sm col-md-6">
            <input type='text' class="form-control data_inserita" id='datepicker' placeholder="Choose date ..." data-date-format="yyyy-mm-dd">
          </div>
          <button class="btn btn-primary col-sm" type="button" id="btn">Show</button>
        </div>
      </form>
    </div>
    <div id = "clustering_controls" class="col-sm-12 col-md-6">
      <h5 class="text-center col-sm">Choose a date interval and a number of clusters.</h5>
      <form>
        <div class="form-row col-sm">
          <div class="form-group col-sm col-md-3">
            <input type='text' class="form-control data_inserita2" id='datepicker2' placeholder="Choose date ..." data-date-format="yyyy-mm-dd">
          </div>
          <div class="form-group col-sm col-md-3">
            <input type='text' class="form-control data_inserita3" id='datepicker3' placeholder="Choose date ..." data-date-format="yyyy-mm-dd">
          </div>
          <div class="form-row text-center col-sm col-md-6">
              <input type="range" class="form-control-range col-9" id="customRange11" min="1" max="10">
              <span class="font-weight-bold text-primary valueSpan2 col-3"> </span>
          </div>
        </div>
        <button class="btn btn-primary col-sm"  type="button" id="btn-cluster">Cluster</button>
      </form>
    </div>
  </div>
</div>
<script>
  var vettore_noleggi_posizion_lat = []
  var vettore_noleggi_posizion_long = []
  var vettore_id_bici_noleggi = []
  {% block jquery%}
  {% for noleggio_lat in data_result_noleggi_lat %}
  var latitude = parseFloat({{noleggio_lat}})
  vettore_noleggi_posizion_lat.push(latitude)
  {% endfor %}
  {% for noleggio_long in data_result_noleggi_long %}
  var longitude = parseFloat({{noleggio_long}})
  vettore_noleggi_posizion_long.push(longitude)
  {% endfor %}
  //recupero gli id delle bici dei vari noleggi (ultima posizione)
  {% for bike_noleggio_id in data_result_id_bike_noleggi %}
  var bike_id = {{bike_noleggio_id}}
  vettore_id_bici_noleggi.push(bike_id)
  {% endfor %}
  {% endblock%}
</script>

</a>


<a name="mappa"><div id="map"></div></a>


<a name="autori">
  <footer class="page-footer font-small teal pt-4">
    <div class="footer-copyright text-center py-3">Authors:
      <a href="#"> Riccardo Mioli & Michele Bonini</a>
    </div>
  </footer>
</a>

{% else %}

<a href="{% url 'login' %}">Login</a>

{% endif %}

{% endblock %}
